@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: rgb(223, 219, 219);
  font-family: 'Poppins', sans-serif;
}

.displayGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
}

.cardsContadores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;  
  margin-top: 10px;
  margin-bottom: 10px;
}


#ul {
  padding: 0;
}

#formularioBusca {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  grid-gap: 10px;
}

.botoesBusca{
  display: flex;
  align-items: center;
  gap: 10px;
}

#buscarTitulo, #apagarBusca {
  width: 50px;
  height: 30px;
}

header {
  margin-bottom: 30px;
  margin-left: 20px;
}

#tituloCabecalho {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 27pt;
  font-weight: 500;
  margin-bottom: 0px;
  margin-left: 15px;
  color: #310c15;
  margin-top: 10px; 
}

header p {
  margin-top: 0px;
  margin-left: 75px;
  color: rgb(202, 176, 176);
  font-weight: 500;
}

aside {
  padding: 15px;
  background-color: #624b4e;
  height: 100%;
}

label {
  display: block;
  margin-bottom: .3rem;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  color: rgb(236, 224, 226);
}

input, textarea, select {
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  border: 1px solid rgb(154, 157, 173);
  font-size: 1rem;
  margin-bottom: .5rem;
  border-radius: 7px;
}

textarea {
  height: 150px;
}

#videoYoutube {
  margin-bottom: 20px;
}

.botoesForm {
  display: flex;
  gap: 10px;
}

#botaoSalvar, #botaoLimpar {
  font-size: 16px;
  font-weight: 500;
  color: #f4f4f4;
  border: 0px;
}

#botaoLimpar{
  background-color: #49849E;
}

#botaoLimpar:hover{
  background-color: #295e74;
}

#botaoSalvar {
  background-color: #6d8a4b;
}

#botaoSalvar:hover {
  background-color: #446223;
}

.cardsContadores{
  margin-bottom: 20px;
}

.estatistica {
  background-color: #d7cdcdfd;
  text-align: center;
  margin-right: 20px;
  border-radius: 15px;
  color: #1a0b0f;
  border: 0px solid rgb(212, 204, 205);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.estatistica h3{
  margin-bottom: 10px;
}

.estatistica p {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#buscarTitulo, #apagarBusca {
  border: 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  background-color:rgb(251, 249, 249);
}

#buscarTitulo:hover, #apagarBusca:hover {
  background-color:rgb(217, 198, 199);
}

.cards {
  background-color: rgb(247, 243, 243);
  border: 1px solid rgb(232, 233, 238);
  border-radius: 10px;
  margin-right: 25px;
  margin-top: 25px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.cards h2 {
  margin-top: 0;
  color: #300f19;
}

.cards button {
  margin-right: 10px;
  border: 0;
  padding: 5px 10px ;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #080205;
}

.delete {
  background-color: #eb9a9a;
}

.delete:hover {
  background-color: #ba4d4d;
  border: 1px solid rgb(213, 33, 33);
}

.editar {
  background-color: #a6d2c7;
}

.editar:hover {
  background-color: #3f796b;
  border: 1px solid rgb(50, 108, 50);
}

.cards a{
  text-decoration: none;
  font-family:'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: black;
  padding: 5px 10px ;
  border-radius: 5px; 
  background-color: #e0db96;
}

.cards a:hover {
  background-color: #c0b734;
  border: 2px solid rgb(192, 204, 63);
}

#botaoAtualizar {
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  border: 0;
  font-size: 1rem;
  margin-bottom: .5rem;
  border-radius: 7px;
  background-color: rgb(72, 149, 74);
  color: #f8f0f2;
}

#botaoAtualizar:hover {
  background-color: rgb(27, 94, 29);
  border: 2px solid rgb(82, 196, 82);
}

li {
  list-style: none;
}

#buscador {
  margin: 0;
  border: 1px solid rgb(214, 203, 205);
} 

.apagaLista {
  display: none;
}

.apagaBotao{
  display: none;
}